.app__section {
  background: $color-teagreen;
  border-radius: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  }

.app__section--list {
  background: $color-white;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem 0 1rem 0;
}

