@import "../variables";

.fave__searchBoxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5rem;
}

.fave__searchBox {
  background: $color-white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  width: 20rem;
  margin: 0.5rem;
  padding: 1rem;
  &--mod {
    display: block;
    background: red;
  }
}

.fave__prevNext{
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  width: 80%;
}



button {
  background: $color-white;
  color: $color-darkgreen;
  font-weight: bold;
  cursor: pointer;
}

.ingredient__table {
  //width: 100%;
  width: 80vw;
  border-collapse: collapse;
  background: $color-white;
  //margin: 1rem;
  border-radius: 10px;
}

.fave__tableBox {
  padding: 0.5rem;
  background: $color-olivine;
  border-radius: 10px;
  margin: 0 0.5rem 1rem 0.5rem;


}

th {
  background: $color-olivine;
}

th,
td {
  word-wrap: break-word;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
}

tr:nth-child(even) {
  background-color: $color-teagreen;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 10px;
  padding-left: 0.25rem;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: center;

  li {
    margin: 0.25rem 0;
  }
}

.ingredient {
  background-color: $color-white;
}

.button__fave {
  background: $color-olivine;
  width: 10rem;
  height: 10rem;
}