@import "../variables";

form {
  background: $color-olivine;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 0.5rem;
  // MQ
  max-width: 80%;

  //flex: 1; // stretch down
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  label {
    flex: 1;
  }

  input, select {
    flex: 2;

  }
}

input, select {
  border-radius: 5px;
  padding: 0.5rem;
  width: 15rem
}

button {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border-radius: 10px;
}