@import "variables";

.ingredient-list {
  margin-top: 1rem;
  border: 1px solid $color-darkgreen;

  table {
    width: auto;
    border-collapse: collapse;

    th, td {
      border: 1px  $color-huntergreen;
      padding: 0.5rem;
      width: 5rem
    }

    th {
      background-color: $color-teagreen;
      text-align: center;
    }

    tr:nth-child(even) {
      background-color: $color-teagreen;
    }

    tr:hover {
      background-color: $color-olivine;
    }
  }
}

.ingredient {
  background-color: $color-white;
}