@import "functions";

// FONTS

$base-font-size: 20px;

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
  url('../assets/fonts/Open Sans/opensans-regular-webfont.woff2') format('woff2'),
  url('../assets/fonts/Open Sans/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$text-font: 'Open Sans';

// COLOURS


$color-white: rgb(255, 255, 255);
$color-teagreen: rgb(203, 222, 177);
$color-olivine: rgb(151, 188, 98);
$color-huntergreen: rgb(44, 95, 45);
$color-darkgreen: rgb(22, 48, 23);
$color-black: rgb(0, 0, 0);
