@import "functions";

// FONTS

$base-font-size: '16px';

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
  url('../fonts/Open Sans/opensans-regular-webfont.woff2') format('woff2'),
  url('../fonts/Open Sans/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$text-font: 'Open Sans';

// COLOURS

$color-background: rgb(255, 255, 255);

