//OK

@import "normalize";
@import "variables";
@import "layout/header&footer";
@import "layout/main__section";
@import "layout/loginLandingPage";
@import "elements/form";
@import "elements/table_styling";
@import "elements/icon.scss";
@import "elements/msg";
@import "elements/button";
@import "elements/_search_boxes.scss";



html {
  height: 100%;
  margin: 0;
}

body {
  font-size: $base-font-size;
  font-family: $text-font;
  color: $color-black;
  background: $color-white;
}

.container {
  background: $color-white;
  margin: auto;
  padding: 0;
}

.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// OUTLET CONTAINER
  .outlet--container {
    background: $color-white;
    border-radius: 5px;
    margin: 1rem 0 1rem 0;
    flex: 1;
    // next container?
    display: flex;
    flex-direction: column;
    align-items: center;
  }


//// DEFINE BREAKPOINTS
//$breakpoint-xs: 575px;
//$breakpoint-sm: 576px;
//$breakpoint-md: 768px;
//$breakpoint-g: 992px;
//$breakpoint-xl: 1200px;
//$breakpoint-hd: 1600px;







