@import "normalize";
@import "variables";
@import "functions";

body {
  background-color: $color-background;
  font-family: $text-font;
  font-size: $base-font-size;
  color: black;
}

.container {
  background: $color-white;
  margin: 0 2rem 0 2rem;
}